.testimonial-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px;
  gap: 30px;
  border-radius: 20px;
  border: 1px solid #e5f4f2;
  background: #fff;
  box-shadow: 34.854px 29.626px 48.34px 0px rgba(51, 102, 255, 0.05);
}
.testimonial-card .profile {
  display: flex;
  width: 180px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}
.testimonial-card .profile .img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial-card .img img {
  width: 100%;
}
.profile h4 {
  color: #111827;
  font-weight: 600;
  font-size: 1.3rem;
}
.profile p {
  color: #ccac00;
  font-family: Mulish;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 160%;
}
.testimonial-card .rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}
.rating p {
  color: #2d2d2d;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}
.rating .rates {
  display: flex;
  align-items: center;
  gap: 5px;
}
